---
layout: default
title: Three.js World
description: Three.js World is a site for web developers who want to learn how to use three.js, a JavaScript library that brings 3D animation to the web with HTML5 and WebGL technology. Covers advanced topics too like character rigging, UV maps, webgl demos, physics engines and video player. Create an incredible media experience or a full 3D game.
example: index
amp: true
---
<div class="home" id="content-wrapper">
	<section class="s1">
		<div class="padding flex-business"></div>
		<!--<div class="padding flex-business">
			<div id="canvases"></div>
			{% for file in site.static_files %}
				{% if
				file.path == '/js/examples/ex6.js' or
				file.path == '/js/examples/ex2.js' or
				file.path == '/js/examples/ex3.js' or
				file.path == '/js/examples/ex4.js' or
				file.path == '/js/examples/ex5.js'  %}
					<script src="{{file.path}}"></script>
				{% endif %}
			{% endfor %}
		</div>-->
	</section>

	<p class="flex-container bold-links m-top-40">Welcome to Three.js World - a site for web developers who want to learn how to use three.js, a JavaScript library that brings 3D animation to the web with HTML5 and WebGL technology.

	<amp-img class="hero" src="images/hero.jpg" width="1367" height="578" alt="{{site.title}}" layout="responsive"></amp-img>

	3D graphics can be obtained easily now that browsers and devices are so powerful, and with the growing popularity of virtual reality and VR headsets like Google Cardboard and the Oculus Rift, there are more opportunities to utilize 3D design. Learn how to integrate the web with 3d modeling software assets from Blender, 3D Studio Max or Maya.

	<br><br>Try an <a href="{{site.url}}/tutorials/getting-started-with-three-js">easy example</a> if you're just getting started, or see how a <a href="{{site.url}}/threejs-game-tutorial-climber">complete project</a> comes together.</p>

	<section class="s2 padding">
		<h2>Featured</h2>
		<div class="boxes">
			{% for post in site.tags.featured limit: 5 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s3 padding">
		<h2>#advanced</h2>
		<div class="boxes">
			{% for post in site.tags.advanced limit: 5 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s4 padding">
		<h2>Tutorials</h2>
		<div class="boxes">
			{% for post in site.categories.Tutorials limit: 5 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s5 padding">
		<h2>More three.js Tutorials</h2>
		<div class="links">
			{% for post in site.posts %}
				<article class="link">
					<a href="{{ post.url }}">{{ post.title }}</a>
					<p><strong>{{ post.date | date: "%B %e, %Y" }}</strong> {{ post.category }} <a href="{{site.url}}{{post.url}}"></a></p>
				</article>
			{% endfor %}
		</div>
	</section>
</div>
