---
layout: default
title: Three.js World
example: index
---

<div class="home" id="content-wrapper">
	<section class="s1">
		<div class="padding flex-business">
			<div id="canvases"></div>
			{% for file in site.static_files %}
				{% if file.path == '/js/examples/ex1.js' or
				file.path == '/js/examples/ex2.js' or
				file.path == '/js/examples/ex3.js' or
				file.path == '/js/examples/ex4.js' or
				file.path == '/js/examples/ex5.js'  %}
					<script src="{{file.path}}"></script>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="s2 padding">
		<h2>Featured</h2>
		<div class="boxes">
			{% for post in site.posts limit: 6 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s3 padding">
		<h2><i class="fa fa-tag"></i>beginner</h2>
		<div class="boxes">
			{% for post in site.tags.beginner limit: 6 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s4 padding">
		<h2>Tutorials</h2>
		<div class="boxes">
			{% for post in site.categories.Tutorials limit: 6 %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

</div>
