---
layout: default
title: Three.js World
---

<div class="home" id="content-wrapper">

	{% include scripts.html %}
	<section class="s1">
		<div class="padding flex-business">
			<div id="canvases"></div>
			{% for file in site.static_files %}
				{% if file.path contains '/js/examples' and file.path != '/js/examples/ex5.js' %}
					<script src="{{file.path}}"></script>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="s2 padding">
		<h2>Featured</h2>
		<div class="boxes">
			{% for post in site.posts %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s3 padding">
		<h2><i class="fa fa-tag"></i>beginner</h2>
		<div class="boxes">
			{% for post in site.tags.beginner %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

	<section class="s4 padding">
		<h2>Tutorials</h2>
		<div class="boxes">
			{% for post in site.categories.Tutorials %}
				{% include box.html %}
			{% endfor %}
		</div>
	</section>

</div>
