{% if include.length != '' %}
	{% assign length = include.length %}
{% else %}
	{% assign length = include.length %}
{% endif %}

<a class="box" href="{{post.url}}">
	<div class="bg" style="background: url('/images/{{post.example}}.jpg') top center / cover;"></div>
	<div class="text">
		<h3>{{post.title}}</h3>
		<p>{{post.category}}</p>
		<p>{% for tag in post.tags %}
			{{tag}},
		{% endfor %}</p>
		{% if titleDown == 'models' %}
			Materials: {% if post.materials > 0 %}{{post.materials}}{% else %}None{% endif %}<br>
			Images: {% if post.images > 0 %}{{post.images}}{% else %}None{% endif %}<br>
			Skeleton: {% if post.skeleton == true %}Yes{% else %}No{% endif %}<br>
		{% endif %}
		<p class="body">
			{% if titleDown == 'models' %}
				Animation: {% if post.animations > 0 %}{{post.animations}}{% else %}None{% endif %}<br>
				License: {% if post.license != nil %}Click to view{% else %}Public Domain{% endif %}
			{% else %}
				{{post.excerpt | strip_html}} ...
			{% endif %}
		</p>
	</div>
</a>
