<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml" class="wf-loading">
<head>
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
<meta charset='utf-8'>
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--<meta name="apple-mobile-web-app-capable" content="yes">-->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--<meta name="mobile-web-app-capable" content="yes">-->
<link rel="icon" sizes="192x192" href="/images/icons/launcher-icon-4x.png">
<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/monokai.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/dat.gui.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
<link rel="canonical" href="{{site.url}}{{page.url}}" />
<meta itemprop="name" content="{{site.title}}">
<meta property="og:title" content="{{site.title}}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:site_name" content="{{site.title}}">
<meta name="description" content="{{site.description}}">
<meta itemprop="description" content="{{site.description}}">
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebPage",
"headline": "{{page.title}}",
"url": "{{site.url}}{{page.url}}"}
</script>
<title>{{page.title}}</title>
</head>

<body>
