---
---
{% include head.html %}
{% include header.html %}

<div id="content-wrapper">
	<section class="s1">
		<div class="page-header padding flex-business">
			<h1>{{page.title}} Category</h1>
		</div>

		<div class="archive-inner">
			<!--<img class="blog-image" src="{{site.url}}/images/archive-archive.jpg">-->
			<div class="boxes">
				{% for post in site.posts %}
					{% if post.category == page.title %}
						{% include box.html %}
					{% endif %}
				{% endfor %}
				</div>
		</div>
	</section>
</div>
{% include social.html %}
{% include scripts.html %}
{% include footer.html %}
