---
---
{% include head.html %}
{% include header.html %}
{% assign titleDown = page.title | downcase %}

<div id="content-wrapper">
	<section class="s1">
		<div class="page-header padding flex-business">
			<h1>{{page.title}}</h1>
		</div>

		<div class="archive-inner">
			<img class="blog-image" src="/images/archive-tag.jpg">
			<div class="boxes">
				{% for post in site[titleDown] %}
					{% include box.html %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% include social.html %}
{% include scripts.html %}
{% include footer.html %}
