---
---
{% include head.html %}
{% include header.html %}
{% assign titleDown = page.title | downcase %}

<div id="content-wrapper" class="archive-tag">
	<div class="page-header padding flex-business">
		<h1>
			{% if titleDown == 'featured' %}Featured Posts
			{% else %}Posts tagged with {{titleDown}}
			{% endif %}
		</h1>
	</div>
	<div class="archive-inner">
		<div class="boxes">
			{% for post in site.posts %}
				{% assign found = false %}
				{% for tag in post.tags %}
					{% if tag == titleDown %}
						{% assign found = true %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% if found %}
					{% include box.html %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% include scripts.html %}
{% include footer.html %}
