---
layout: default
---

{% assign slug = page.title | slugify %}

<div id="content-wrapper" class="model">
	<div class="page-header">
		{% include social.html %}
		<h1>{{page.title}}</h1>
		<div class="share-placeholder"></div>
	</div>
	<div class="tags">
		{% for tag in page.tags %}
			<div class="tag">{{tag}}</div>
		{% endfor %}
	</div>
	<div class="blog-inner">
		<div id="canvases"></div>
		<script>
		var scene = new THREE.Scene();
		var camera = new THREE.PerspectiveCamera(
			75, 2, 0.1, 1000
		);
		camera.position.set(0, 1.8, 4);
		var renderer = new THREE.WebGLRenderer({
			alpha: true
		});
		renderer.setSize(660, 330);
		document.getElementById('canvases').appendChild(renderer.domElement);

		var ambientLight = new THREE.AmbientLight(0xffffff, 1);
		var pointLight = new THREE.PointLight(0xffffff, 1, 10, 2);
		pointLight.position.set(0, 1.4, 3.4);
		scene.add(pointLight, ambientLight);

		var mixer = false;
		var clock = new THREE.Clock();
		mesh = new THREE.Object3D();
		new THREE.JSONLoader().load('/js/models/{{slug}}/{{slug}}.json', function (geometry, materials) {
			if (!materials) { // simple
				mesh = new THREE.Mesh(geometry, new THREE.MeshLambertMaterial({color: '#9e6039'}));
			} else if (!geometry.bones) { // has materials
				mesh = new THREE.Mesh(geometry, new THREE.MultiMaterial(materials));
			} else { // has materials and skinning/skeleton
				materials.forEach(function (material) {
					material.skinning = true;
				});
				mesh = new THREE.SkinnedMesh(geometry, new THREE.MultiMaterial(materials));
			}
			mesh.traverse(function (child) {
				if (child instanceof THREE.Mesh) {
					child.geometry.computeVertexNormals();
				}
			});

			if (geometry.animations) { // if animations
				mixer = new THREE.AnimationMixer(mesh);
				var animation = mixer.clipAction(geometry.animations[0]);
				animation.play();
			}
			scene.add(mesh);
		});

		camera.position.set(0, {{page.cameraY}}, {{page.cameraZ}});

		function render() {
			mesh.rotation.y += 0.01;
			if (mixer) {
				var delta = clock.getDelta();
				mixer.update(delta);
			}
			requestAnimationFrame(render);
			renderer.render(scene, camera);
		}
		render();
		</script>
		<a href="/js/models/{{slug}}/{{slug}}.zip" download="{{slug}}.zip">Download</a><br>
		Materials: {% if page.materials > 0 %}{{page.materials}}{% else %}None{% endif %}<br>
		Images: {% if page.images > 0 %}{{page.images}}{% else %}None{% endif %}<br>
		Skeleton: {% if page.skeleton == true %}Yes{% else %}No{% endif %}<br>
		Animation: {% if page.animations > 0 %}{{page.animations}}{% else %}None{% endif %}<br>
		License: {% if page.license != nil %}<a target="_blank" rel="nofollow" href="{{page.license}}">click to view <i class="fa fa-external-link"></i></a>{% else %}Public Domain{% endif %}
		{{content}}
	</div>
</div>
