---
layout: default
---

<div id="content-wrapper" class="post">
	<div class="page-header">
		{% include social.html %}
		<h1>{{page.title}}</h1>
		{% include social.html %}
	</div>
	<div class="post-meta">
		<p class="category">Filed under: <a href="/category/{{page.category}}"></i>{{page.category}}</a></p>
		{% for tag in page.tags %}
			<a class="tag" href="/tag/{{tag}}"><i class="fa fa-tag"></i>{{tag}}</a>
		{% endfor %}
	</div>
	<div class="blog-inner">
		{% if page.example == '' %}
			<img class="blog-image margin-bottom" src="/images/{{page.image}}">
		{% endif %}
		<p class="date">Last updated: {{page.date | date: '%B %-d, %Y'}}<br>Three.js Version: {{site.three_version}}</p>
		{% if page.example %}
		<div id="canvases"></div>
		{% endif %}
		{{content}}
		<p><a target="_blank" href="/js/examples/{{page.example}}.js"><i class="fa fa-file"></i>Get the code from this article (opens in a new tab)</a></p>
		<p class="author">This article was brought to you by {{page.author}}</p>
		{% include scripts.html %}
		{% include email-form.html %}
		{% include related.html %}
		{% include disqus.html %}
	</div>
</div>
{% if page.example %}
	<script src="/js/examples/{{page.example}}.js"></script>
{% endif %}
