---
layout: default
---

{% include structured-data.html %}
<div id="content-wrapper" class="post">
	<div class="page-header">
		{% include social.html %}
		<h1>{{page.title}}</h1>
		<div class="share-placeholder"></div>
	</div>
	<div class="post-meta">
		<p class="category">Filed&nbsp;under:&nbsp;<a href="{{site.url}}/category/{{page.category}}"></i>{{page.category}}</a></p>
		<div class="tags">
			{% for tag in page.tags %}
				<a class="tag" href="{{site.url}}/tag/{{tag | slugify}}"><i class="fa fa-tag"></i>{{tag}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="blog-inner">
		{% if page.example == '' %}
			<img class="blog-image margin-bottom" src="{{site.url}}/images/{{page.image}}">
		{% endif %}
		<p class="date">Last updated: {{page.date | date: '%B %-d, %Y'}}<br>Three.js Version: r{{site.three_version}}</p>
		{% if page.example %}
		<div id="canvases"></div>
		{% endif %}
		<div class="bold-links">
			{{content}}
		</div>
		{% if page.guest == nil %}
			{% if page.example != 'ex7' and page.example != 'ex4' %}
				<p><a target="_blank" href="{{site.url}}/js/examples/{{page.example}}.js"><i class="fa fa-file"></i>Get the code from this article</a> <i class="fa fa-external-link"></i></p>
			{% endif %}
			<p class="author">This article was brought to you by {{page.author}}. To find out about new articles, subscribe below.</p>
		{% endif %}
		{% include email-form.html %}
		{% include related.html %}
		{% include disqus.html %}
	</div>
</div>
<script src="{{site.url}}/js/examples/{{page.example}}.js"></script>
